div{
    background-color: tomato;
    padding: 10px;
   
   color: rgb(250, 250, 255);
   border: solid 7px rgb(0, 204, 255);
   border-radius: 15px;
}
.commit{
    background-color: rgb(19, 195, 98);
}